.center-content {
	display: flex !important;
	justify-content: center;
	align-items: center;
}
.section-header {
	text-align: center;
	font-size: 4rem;
	line-height: 4.2rem;
}
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-track {
	background: #d7d7d7;
}
::-webkit-scrollbar-thumb {
	background: #888;
}
::-webkit-scrollbar-thumb:hover {
	background: #727272;
}

.d-flex {
	display: flex;
}
.align-center {
	align-items: center;
}
