body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(14, 1, 1, 0.3), rgb(0 0 0)),
        url(https://dslv9ilpbe7p1.cloudfront.net/uAa0WdqrfMhukReYCdFGww_store_banner_image.png) no-repeat center;
    background-size: cover;
}
